<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>


	<key>CFBundleDevelopmentRegion</key><string>English</string>
	<key>CFBundleExecutable</key><string>hIPster</string>
	<key>CFBundleIconFile</key><string>hipster.icns</string>
	<key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
	<key>CFBundleName</key><string>hIPster</string>
	<key>CFBundlePackageType</key><string>APPL</string>
	<key>CFBundleSignature</key><string>PNst</string>
	<key>CFBundleVersion</key><string>9.0.0</string>
	<key>CFBundleShortVersionString</key><string>9.0</string>
	<key>CFBundleGetInfoString</key><string>Blah blah info</string>
</dict>
</plist>
